*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main{
    background-color: #F2EEE3;
    width: 100%;    
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.borde{
    height: 12vh;
}

.borde img{
    height: 100%;
}

.cajaGrande{
    display: flex;
    height: 70vh;
    flex-wrap: wrap;
    margin: 3vh 1.5%;
}

.cajaInterna1, .cajaInterna2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.cajaInterna1{
    justify-content: center;
}

#huellaLogo{
    width: 40%;
    margin: 5%;
}

.cajaInterna2{
    justify-content: space-evenly;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccionIngreso{
    width: 52%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: 1%;
    border: 4px solid #F0AA70;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

}

.datosIngreso{
    margin: 1% 5%;
    width: 70%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
}

.seccionIngreso img{
    width: 12%;
    margin: 1% 4%;
    height: 98%;
}

.seccionIngreso i{
    width: 12%;
    margin: 1% 4%;
    font-size: 39px;
    font-weight: bold;
    color: #F0AA70;
}

.iniciarSesion{
    margin: 2%;
    width: 20%;
    border-radius: 1.25rem;
    background-color: #CE7338;
    border: 4px solid #CE7338;
    cursor: pointer;
    font-size: 18px;
    color: #FFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.iniciarSesion A{
    color: #FFFF;
    text-decoration: none;
    
}
.logosInicio{
    width: 20%;
    display: flex;
    justify-content: space-around;
    margin: 1.5%;
    cursor: pointer;
}

.logosInicio img{
    width: 30%;
}

.texto{
    margin: 1%;
}

.texto a{
    color: #CE7338;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

.slogan{
    font-size: 1.75rem;
    text-align: center;
    width: 80%;
}

@media (max-width: 1024px){
    .seccionIngreso i{
        font-size: 30px;
    }
}

@media (max-width: 768px){
    .cajaInterna1{
        width: 40%;
        padding: 2%;
    }
    .cajaInterna2{
        width: 60%;
    }
    .slogan{
        font-size: 25px;
    }
     #huellaLogo{
        width: 60%;
    } 
    .seccionIngreso{
        width: 70%;
    }
    .seccionIngreso i{
        font-size: 36px;
    }
     .iniciarSesion{
        width: 25%;
    }
}

@media (max-width: 640px){
    .slogan{
        font-size: 21px;
    }
    .seccionIngreso i{
        font-size: 30px;
    }
} 

@media (max-width: 425px){ 
    #huellaLogo{
        width: 35%;
    } 
    .cajaInterna1, .cajaInterna2{
        width: 100%;
        height: auto;
    }
    .slogan{
        width: 90%;
        font-size: 20px;
        margin: 0;
    }
    .seccionIngreso{
        width: 65%;
        margin: 2%;
    }
    .seccionIngreso i{
        font-size: 22px;
    }
    .iniciarSesion{
        margin: 2%;
    }
    .logosInicio{
        margin: 0;
    }
}

/*----------------------------características de la sección del muro-----------------------------*/
/* .artMuro{
     height: 100vh; 
} */

.artMuro header{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: #F0AA70;
    align-items: center;
}
.grid-container{
    display: grid;
    background-color: #F2EEE3;
    grid-template-columns: 3fr 4fr;
    border:transparent;  
}
.secUsuario, .secCategorias{
    margin: 3vh 7.5%;
}
.contenedorPortada{
    height: 20vh;
}
.contenedorPortada img{
    width: 100%;
    height: 100%;
}
.contenedorPerfil{
    height: 20vh;
    background-color: #F2E0AA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ImgCentralUsuario{
    width: 30%;
}
.datosUsuario{
    width: 70%;
}
.secCategorias{
    background-color: #E5DCC3;
}
.categoriaUnica{
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
}
.tableroCompartir, .tableroPost{
    margin: 3vh 5.5% 3vh 0;
}
.tableroCompartir{
    padding: 2.5vh 3%;
    background-color: #E5DCC3;
    height: 28vh;
}
.tableroCompartir input{
    width: 100%;
    height: 15vh;
}
.tableroCompartir .botones{
    padding: 2vh 0;
    display: flex;
    justify-content: space-between;

}
.botonCompartir{
    width: 20%;
    height: 6vh;
    background-color: #F0AA70;
}
.tableroPost{
    height: 30vh;
    background-color: white;
}
.infoUsuarioPost, .usuarioPost{
    justify-content: space-between;
    display: flex;
}
.usuarioPost{
    height: 8vh;
}
.botonesReaccion{
    background-color: #E5DCC3;
    display: flex;
}

 /*---------------------modal error de la sección de ingreso------------*/
.cajaGrande{
    position: relative;
}

#ubicacionModal{
    display: flex;
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
}

.modalError i{
    color: #FFFF;
    margin-right: 20px;
    left: 0;
}

.modalError{
    width: 100%;
    height: 40px;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #EA4335;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.modalExito i{
    color: #FFFF;
    margin-right: 20px;
    left: 0;
}

.modalExito{
    width: 100%;
    height: 40px;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #34A853;
    border-radius: 3px;    
    align-items: center;
    padding: auto;
    margin: 10px 0 0 0;  
    justify-content: center; 
    padding: 0 10px;
}


.modalExito p, .modalError p {
    color:#FFFF;
    font-size: 16px;
    margin-left: 3xp;
    justify-self: center;
}





