*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main{
    background-color: #F2EEE3;
    width: 100%;    
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.borde{
    height: 12vh;
}

.borde img{
    height: 100%;
}

.cajaGrande{
    display: flex;
    position: relative;
    height: 70vh;
    flex-wrap: wrap;
    margin: 3vh 1.5%;
}

.cajaInterna1, .cajaInterna2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.cajaInterna1{
    justify-content: center;
}

#huellaLogo{
    width: 40%;
    margin: 5%;
}

.cajaInterna2{
    justify-content: space-evenly;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccionIngreso{
    width: 52%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: 1%;
    border: 4px solid #F0AA70;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

}

.ph-eye-closed{
    cursor: pointer;
}

.ph-eye{
    cursor: pointer;
}

.datosIngreso{
    margin: 1% 5%;
    width: 70%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
}

.seccionCheckbox{
    width: 55%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chequearRegistro{
    border: 2px solid #F0AA70;
}

.seccionCheckbox label{
    font-size: 13px;
    margin-left: 5px;
    text-align: center;
}

.seccionIngreso img{
    width: 12%;
    margin: 1% 4%;
}

.seccionIngreso i{
    width: 12%;
    margin: 1% 4%;
    font-size: 39px;
    font-weight: bold;
    color: #F0AA70;
}

.iniciarSesion{
    margin: 2%;
    width: 20%;
    border-radius: 1.25rem;
    background-color: #CE7338;
    border: 4px solid #CE7338;
    cursor: pointer;
    font-size: 18px;
    color: #FFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.iniciarSesion A{
    color: #FFFF;
    text-decoration: none;
    
}

.logosInicio{
    width: 20%;
    display: flex;
    justify-content: space-around;
    margin: 1.5%;
    cursor: pointer;
}

.logosInicio img{
    width: 30%;
}

.texto{
    margin: 1%;
}

.texto a{
    color: #CE7338;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

.slogan{
    font-size: 2.5rem;
    text-align: center;
    width: 80%;
}

/*---------------responsive de la primera vista-----------------*/
@media (max-width: 1024px){
    .seccionIngreso i{
        font-size: 30px;
    }
}

@media (max-width: 768px){
    .cajaInterna1{
        width: 40%;
        padding: 2%;
    }
    .cajaInterna2{
        width: 60%;
    }
    .slogan{
        font-size: 25px;
    }
    #huellaLogo{
        width: 60%;
    } 
    .seccionIngreso{
        width: 70%;
    }
    .seccionIngreso i{
        font-size: 36px;
    }
    .iniciarSesion{
        width: 25%;
    }
}

@media (max-width: 640px){
    .slogan{
        font-size: 21px;
    }
    .seccionIngreso i{
        font-size: 30px;
    }
} 

@media (max-width: 425px){ 
    #huellaLogo{
        width: 35%;
    } 
    .cajaInterna1, .cajaInterna2{
        width: 100%;
        height: auto;
    }
    .slogan{
        width: 90%;
        font-size: 20px;
        margin: 0;
    }
    .seccionIngreso{
        width: 65%;
        margin: 2%;
    }
    .seccionIngreso i{
        font-size: 22px;
    }
    .iniciarSesion{
        margin: 2%;
    }
    .logosInicio{
        margin: 0;
    }
}

/*---------------------Características de los Modales-------------*/
#ubicacionModal{
    position: absolute;
    right: 0;
    padding: 10px;
    justify-content: center; 
}

.modalError, .modalExito{
    width: auto;
    height: auto;
    display: flex;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    align-items: center;
    padding: 10px 10px 10px 0;
    justify-content: center; 
    animation: slideUpLarge 5s;
}
.modalError{
    background-color: #EA4335;
}

.modalExito{
    background-color: #34A853;   
}

.modalError i, .modalExito i {
    color: #FFFF;
    margin: 0 15px 0 10px;  
}

.modalError p, .modalExito p {
    color:#FFFF;
    font-size: 16px;
    margin-left: 3x;
    justify-self: center;
   
}

@keyframes slideUpLarge {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-10%);
    }
    100% {
        transform: translateX(0%);
    }
}
  

/*----------------------------características de la sección del muro-----------------------------*/
/* .artMuro{
    height: 100vh; 
}
 */

/* ------------características del header-----------------*/
header{
    display: flex;
    width: 100%; 
    justify-content: space-between;
    height: 10vh;
    background-color: #F0AA70;
    align-items: center;
    padding: 0 20px;
}

.enlacePerfil{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.enlacePerfil p{
    color: #844124;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

#cerrar-sesion{
    cursor: pointer;
    width: 33px;
    height: 33px;
}

.imagenUsuario{
    width: 60px;
    height: 60px;
}

.titulo-header{
    width: 35%;
    height: 60px;
}

/*------------------------------------------------------*/
footer{
    display: flex;
    width: 100%; 
    justify-content: space-between;
    height: 10vh;
    background-color: #F0AA70;
    align-items: center;
    padding: 0 20px;
}

.grid-container{
    display: grid;
    background-color: #F2EEE3;
    grid-template-columns: 3fr 4fr;
    border:transparent;  
}

/*--------------------características de la sección izquierda-----------------*/
.secUsuario, .secCategorias{
    margin: 3vh 7.5%;
}

.contenedorPortada{
    height: 20vh;
}

.contenedorPortada img{
    width: 100%;
    height: 100%;
}

.contenedorPerfil{
    height: 20vh;
    background-color: #F2E0AA;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
    padding: 0.4%;
    border-color: #844124;
}

.ImgCentralUsuario{
    width: auto; 
    min-width: 120px;
    justify-content: center;
    align-items: center;   
    padding: auto;   
}

.ImgCentralUsuario img{
    width: 130px;
    height: 130px;
}

.botonAgregar{
    display: flex;
    background-color: #F0AA70;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
    border-color:transparent;
    color: white;
    overflow: hidden;
    font-weight: 600;
    justify-content: center;
    width: 70%;
    min-width: 85px;
    height: 4vh;
    cursor: pointer;
    align-items: center;
    padding: 3px;
    margin-top: 15px;
    right: 0%;
}

.botonAgregar img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.datosUsuario{
    width: 60%;
    padding: 2%;
}

.nombreUsuario{
    font-weight: 35px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

.estadoUsuario{
    font-weight: 20px;
    color: #605D5D;
    font-family: 'Open Sans', sans-serif;
}

.secCategorias{
    background-color: #E5DCC3;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
    padding: 2% 5%;
}

.secCategorias h1{
    display: flex;
    color:#844124;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    justify-content: left;
    padding-bottom: 5% ;
}

.secCategorias h2{
    display: flex;
    color:#844124;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    justify-content: left;
    padding-bottom: 5%;
}

.links-categorias{
    padding-bottom: 5%;
    color: #CE7338;
    cursor: pointer;
}
.categoriaUnica{
    display: flex;
    padding: 1% 0;
    align-items: center;
}

.categoriaUnica img{
   align-items: center;
   padding: 2px;
   width: 40px;
   height: 40px;
   margin-right: 5% ;
   cursor: pointer;
}

.categoriaUnica p{
    justify-content: left;
    cursor: pointer;
}

/* ---------------características de la sección de post-----------*/
.tableroCompartir, .tableroPost{
    margin: 3vh 5.5% 3vh 0;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
}

.tableroCompartir{
    padding: 2.5vh 3%;
    background-color: #E5DCC3;
    height:auto;
}

.tableroCompartir input{
    width: 100%;
    height: 15vh;
    border-color: transparent;
    border-radius: 10px;
}

.tableroCompartir .botones{
    padding: 1vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.botonCompartirImagen{
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
}

.botonCompartir{
    background-color: #F0AA70;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
    border-color:transparent;
    color: white;
    overflow: hidden;
    font-weight: 600;
    width: 25%;
    min-width: 95px;
    height: 4vh;
    cursor: pointer;
}

.container-post{
    width: auto;
    height: auto;
}

.tableroPost{
    background-color: white;
    padding-top: 3%;    
}

.usuarioPost{
    width: 100%;
    display: flex;
    padding: 0 3%;
    height: auto;
}

.imgUsuarioPost{
    display: flex;
    width: 18%; 
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.imgPost{
    width: 80px;  
    height: 80px;  
}

.infoUsuarioPost{
    justify-content: space-between;
    display: block;
    width: 65%;   
    padding: 0 3%; 
}

.nombreUsuarioPost{
    display: flex;
    color: #515151;
    font-size: 25px;
    font-weight: bold;
}

.nombreUsuarioPost img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    align-items: center;
    cursor: pointer;
}

.descripcionUsuarioPost{
    color: #515151;
    font-size: 15px;
}

.botonGlobo{
    display: flex;
    cursor: pointer;
    width: 15%;
    align-items: flex-start;
    justify-content: flex-end;
}

.estadoCompartido{
    display: flex;
    width: auto;
    height: auto;
    padding: 3%;
    justify-content: center;
}

.contenidoCompartido{
    width: auto;
}

.contenidoCompartido img{
    width: 100%;
}

.botonesReaccion{
    background-color: #E5DCC3;
    display: flex;
    bottom: 100%;
    border-radius: 0 0 10px 10px;
    padding: 2%;
}

.botonesReaccion img{
    width: 30px;
    height: 30px;
    margin: 1%;
    cursor: pointer;
}

