*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

main{
    background-color: #FAF1D6;
     width: 100%;/*
    height: 100vh; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.borde{
    height: 12vh;
}

.borde img{
    height: 100%;
}

.cajaGrande{
    display: flex;
    height: 70vh;
    flex-wrap: wrap;
    margin: 3vh 1.5%;
}

.cajaInterna1, .cajaInterna2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}
.cajaInterna1{
    justify-content: center;
}
#huellaLogo{
    width: 40%;
    margin: 5%;
}
.cajaInterna2{
    justify-content: space-evenly;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccionIngreso{
    /*  */
    width: 52%;
    /* height: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.25rem;
    border: 4px solid #B6E3E9;
    background-color: white;
    /* margin: 16px; */
    margin: 1%;
    /* padding: 2%; */
}

.datosIngreso{
    margin: 1% 5%;
    width: 70%;
    /* height: auto; */
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
}

.seccionIngreso img{
    width: 12%;
    margin: 1% 4%;
     height: 98%;
}

.iniciarSesion{
    margin: 2%;
    width: 20%;
    border-radius: 1.25rem;
    background-color: #FADEE1;
    border: 4px solid rgba(177, 87, 141, 0.42);
    cursor: pointer;
    font-size: 18px;
}

.logosInicio{
    width: 20%;
    display: flex;
    justify-content: space-around;
    /* margin: 0.5rem; */
    margin: 1.5%;
    cursor: pointer;
}

.logosInicio img{
    width: 30%;
    /* height: 30px; */
}

.texto{
    /* margin: 0.5rem; */
    margin: 1%;
}

.texto a{
    color: #BE7884;
    cursor: pointer;
    text-decoration: none;
}

.slogan{
   /*  margin: 1.5%; */
    font-size: 1.75rem;
    text-align: center;
    width: 80%;
}

/* @media (max-width: 1024px){
    .seccionIngreso{
        width: 80%;
    }
    .iniciarSesion{
        width: 30%;
    }
} */

@media (max-width: 768px){
    .cajaInterna1{
        width: 40%;
        padding: 2%;
    }
    .cajaInterna2{
        width: 60%;
    }
    .slogan{
        font-size: 25px;
    }
     #huellaLogo{
        width: 60%;
    } 
    .seccionIngreso{
        width: 70%;
        /* padding: 0;
        margin: 0.2rem; */
    }
     .iniciarSesion{
        width: 25%;
    }
    /* .logosInicio{
        width: 30%;
    }  */
}

@media (max-width: 640px){
    .slogan{
        font-size: 21px;
    }
} 

@media (max-width: 425px){ 
    #huellaLogo{
        width: 35%;
    } 
    .cajaInterna1, .cajaInterna2{
        width: 100%;
        height: auto;
    }
    .slogan{
        width: 90%;
        font-size: 20px;
        margin: 0;
    }
    .seccionIngreso{
        width: 65%;
        /* height: 45px; */
        margin: 2%;
    }
    .iniciarSesion{
        margin: 2%;
    }
    .logosInicio{
        margin: 0;
    }
}

/*----------------------------características de la sección del muro-----------------------------*/

header{
    width: 100%;
    height: 106px;
    background-color: #FADEE1;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
}

header p{
    font-family: Indie Flower;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 117px;
    text-align: center;
    color: #E7AEB4;
    -webkit-text-stroke: 2px #DA332B;
}

.contenedorGrande{
    background-color: #FAF1D6;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;    
}

.secUsuario{
    background-color: #F2E0AA;
}

.secComentarios{
    background-color: #B6E3E9;
}